@font-face {
    font-family: "Quicksand";
    src: url("font/Quicksand-Medium.ttf");
}

@font-face {
    font-family: "Honey";
    src: url("font/HoneyScript-Light.ttf");
}

* {
    font-family: "Quicksand";
    font-size: 14px;
}

.main-body {
    background-image: url("resource/background-body.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    background-image: url("resource/logo.svg");
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title1 {
    font-family: "Honey";
    font-size: 30px;
    letter-spacing: 3px;
}

.background {
    background-image: url("resource/background.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title2 {
    font-size: 25px;
    font-weight: bold;
}

.cart-icon {
    background-image: url("resource/cartico.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.poster-img-1 {
    height: 500px;
    background-repeat: no-repeat;
    min-width: max-content;
}

.poster-caption {
    margin-bottom: 150px;
}

.poster-title {
    font-size: 40px;
}

.poster-txt{
    font-size: 20px;
    color: gray;
}

.poster-caption-1 {
    margin-bottom: 70px;
   margin-right: 300PX;
}

.mylink:hover{
    cursor: pointer;
}